{% extends "base.html" %}
{% load static %}
{% block link  %} <link rel="stylesheet" href="{% static 'home/style.css'%}"> {% endblock %}
{% block content %}
    <main>
        <h1>QR-app</h1>
        <section class="plans">
            <div class="plan">
                <h2>Free</h2>
                <p>cost: 0$/month</p>
                <p>max-count QR: 1</p>
                <button>current</button>
                <button>go to description</button>
            </div>
            <div class="plan">
                </div>
        </section>
    </main>


{% endblock %}