/* h1{
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    gap: 250px;
}
header{
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: space-evenly;
}
body{
    background:linear-gradient(45deg, lightblue, white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    height: 100px;
    align-items: center;
    padding: 100px;
}
.button{
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    background-color: white;
 }   */

