

h1{
    font-size: 52px;
    margin-top: 70px;
}
form {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 70px;
}
input{
    background-color: rgba(255,255,255,0.5);
    border: none;
    width: 333px;
    height: 80px;
    border-radius: 15px;
    font-size: 25;
    text-align: center;
}button{
    background-color: rgba(255,255,255,0.75);
    border: none;
    width: 221px;
    height: 62px;
    border-radius: 15px;
    font-size: 25;
    text-align: center;
    cursor: pointer;
}
.input-group{
    gap: 25px;
    display: flex;
    
}
p{
    color: red;
    display: flex;
    font-size: 40px;
    text-align: center;
}