*{
    font-size: 30px;
}

input, button, select, option{
    display: block;
    margin: 10px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    border-radius: 25px;
    
}
.color{
    padding: 5px 10px;
    border-radius: 5;
}
#two{
    transition: 0.5s linear;
}
.logo::file-selector-button {
    background-color: grey;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    width: 0px;
    display: none;
} 
.custom-select {
    position: relative;
    display: inline-block;
}
.color::-webkit-color-swatch {
    border-radius: 25px;
  }
/* .custom-select{
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
} */

.custom-select select:focus {
    transform: rotate(180deg);
}
.custom-select option {
    padding: 5px;
    border-radius: 10px;
}
.custom-select option[value="color"] {
    background-color: rgb(121, 121, 223);
    color: rgb(255, 255, 255);
    border-radius: 10px;
}
.colors{
    display: flex;
}
.custom-select option[value="gradient"] {
    background-color: #21A0DF;
    color: white;
    border-radius: 10px;
}
.custom-select option:checked {
    background-color: #4A90E2;
    color: white;
}
button{
    cursor: pointer;
}
main{
    display: flex;
    flex-direction: row;
}
h1{
    text-align: center;
    font-size: 60px;
}
.buttons{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
.create-QR-cods{
    background-color:  #21A0DF;
    border: solid #21A0DF 1px;
    border-radius: 100px;
}
.box-for-buttons{
    display: flex;
    flex-direction: row;
}
.box-img{
    background-color: rgba(255, 255, 255, 0.5);
    width: 333px;border-radius: 25px;
    height: 480px;
    gap: 24px;
    padding: 60px 75px;
    /* flex-direction:column;
    display: flex; */
    /* justify-content:end; */
    /* align-items:baseline; */
}
.create{
    background-color: #ACE8A4;
    border: black solid 1px;
    border-radius: 16px;
    color: white;
    transition: 0.3s;
}
.download{
    background-color: #00C8FF;
    border: black solid 1px;
    border-radius: 16px;
    color: white;
    transition: 0.3s;
}
.download:hover{
    background-color: #08a2cc;
}

.create:hover{
    background-color: #7bb373;
}
.position{
    flex-direction: column;
    
    display: flex;
}
img{
    width: 200px;
    height: 200px;
}
.create-QR-cods{
    background-color:  #21A0DF;
    border: solid #21A0DF 1px;
    border-radius: 100px;
}
.hidden{
    /* display: none; */
    opacity: 0;
    visibility: hidden;
}