

button {
    display: block;
    margin: 10px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 25px;
    
}
main{
    display: flex;
    flex-direction: row;
}
h1{
    text-align: center;
    font-size: 60px;
}
.buttons{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 86px;
}
.create-QR-cods{
    background-color:  #21A0DF;
    border: solid #21A0DF 1px;
    border-radius: 100px;
}
.box-for-buttons{
    display: flex;
    flex-direction: row;
}
.box-img{
    background-color: rgba(255, 255, 255, 0.5);
    width: 333px;
    height: 480px;
    gap: 24px;
    padding: 60px 75px;
    /* flex-direction:column;
    display: flex; */
    /* justify-content:end; */
    /* align-items:baseline; */
}
.create{
    background-color: #ACE8A4;
    border: black solid 1px;
    border-radius: 16px;
    color: white;
}
.download{
    background-color: #00C8FF;
    border: black solid 1px;
    border-radius: 16px;
    color: white;
    
}
.position{
    flex-direction:column;
    display: flex;
}
