body {
    font-family: sans-serif;
    background-color: lightblue;
}

header {
    text-align: right;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}
h1{
    font-size: 60px;
}
.active {
    font-weight: bold;
}

main {
    text-align: center;
    padding: 20px;
}

.qr-codes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 2px dotted blue; */
    padding: 20px;
    
}

.qr-card {
    text-align: center;
    /* height: 298px; */
    width: 247px;
    font-size: 30;
    background-color: rgba(255, 255, 255, 0.5);
    gap: 30px;
    display: flex;
    flex-direction: column;
    padding: 60px;
    border-radius: 25px;
    margin: 20px;
}
.go{
    font-size: 30;
}
.url-to-create{
    color: black;
    font-size: 50px;
    background-color: #95B4E2;
    position: relative;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%);
    border-radius: 20px;
    border-color: none;
    transition: 0.3s;
}

.url-to-create:hover {
    background-color: #7BA4E0;
    color: blue;

}

/* /* .create-qr-code {
    background-color: #95B4E2;
    margin-left: 50px; 

} */
.text-for-QR-code{
    width: 247;
}
.my-QR-code{
    width: 200;
    height: 200;
}
img {
    width: 100px;
    height: 100px;
}
a{
    display: flex;
    justify-content: center;
    color: blue
}
.my-QR-cods{
    background-color:  #21A0DF;
    border: solid #21A0DF 1px;
    border-radius: 100px;
    
}
button{
    display: block;
    margin: 10px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 5px;
    font-size: 30px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.75);
    color: hsl(200, 100%, 80%);
}
.filter{
    width: min-content;
    
}
.hidden{
    /* visibility: hidden; */
    display: none;
}
.filter-div{
    display: flex;
    
}
input, textarea{
    margin: 0;
    display: block;
    margin: 10px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 5px;
    font-size: 30px;
    border-radius: 25px;
    transition: 0.3s;
}
.modal-bg {
    background: black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    z-index: 1;
}

.modal{
    position: fixed;
    background-color: white;
    /* width: 600px; */
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    border-radius:10px;
    padding: 10px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    z-index: 2;
    background: linear-gradient(to left, #a1bbfd, #ffffff);
}
.mix{
    display:flex;
}
.close{
    font-size: 24px;
    text-decoration: none;
    color: black;
    position:absolute;
    top:10px;
    right:10px ; 
}

.modal-bg.show{
    opacity: 0.6;
    visibility: visible;
}

.modal.show{
    visibility: visible;
    opacity: 1;
}
.date{
    
    margin-left: auto;
    margin-right: auto
}
.wal{
    display: flex;
    flex-direction: row-reverse;
    height: fit-content;
}
.save{
    color: aquamarine;
    margin-left: auto;
    margin-right: auto;
    
}
/* .filter-div{
    display: flex;
    gap: 10px;
    margin-top: 150px;
    margin-left: 500px;
} */
.delete{
    display: flex;
    align-items: center;
    color: #850000;
}
.delete:hover{
    color: hsl(0, 100%, 50%);
}
.download{
    color: #ffffff;
}
.my-QR-cods{
    background-color:  #21A0DF;
    border: solid #21A0DF 1px;
    border-radius: 100px;
}
span{
    font-size: 40px;
}