body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #9AB7FF, #ffffff);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid black;
    padding: 0px 0px;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    text-decoration: none;
    color: black;
    font-weight: bold; 
    margin-left: 0;
    padding: 5px 10px;
    font-size: 30px;
}

header .logo:hover {
    color: black;
    text-decoration: underline  ;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    padding: 10px 20px;
    box-sizing: border-box;
}

nav h1 {
    font-size: 24px;
}

header .menu {
    display: flex;
    gap: 20px;
    
}

header .menu a {
    text-decoration: none; 
    color: #000; 
    font-size: 18px;
    padding: 5px 10px;
}

header .menu a:hover {
    color: black;
    text-decoration: underline; 
}

a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin-left: 500; 
    gap: 10px;
}

.registration {
    text-align: center;
    padding: 30px 40px;
    width: 500px;
    height: 400px;  
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 0px;
    padding: 10px;
    width: 500px;
    height: 70px;
    border-radius: 50px;
}

h2 {
    font-size: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    font-family: Times, Times, serif;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 50px;
}

.input-group input {
    width: 48%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin-bottom: 10px;
    text-align: left; 
    vertical-align: middle; 
    line-height: 50px;
    text-align: center;
    font-family: Times, Times, serif;
    color: black;
    font-size: 30px;
}

button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 30px;
    margin-left: 10px;
    font-family: Times, Times, serif;
}

button:hover {
    background-color: #DBDBDB ;
}