{% extends "base.html" %}
{% load static %}
{% block link  %} 
<link rel="stylesheet" href="{% static 'contacts/style.css' %}"> 
<script defer src="{% static 'contacts/script.js' %}"></script>
{% endblock %}

{% block content %}
<main>
    <form action="" class="cont">
        <h1>Contacts</h1>
        <textarea name="text" placeholder="write your message"></textarea>
        <h2>Rating</h2>
        <p id="Rating" style="font-size: 30px;"></p>
        <button class="button1"><span class="button">Send</span></button>
    </form>
</main>
<footer class="footer">
    <div class="social-icons">
      <a href="{{telegram}}"><img src="{% static 'contacts/images/img/image.png' %}" alt="Facebook"></a>
      <a href="{{instagram}}"><img src="{% static 'contacts/images/img1/image.png' %}" alt="Instagram"></a>
      <a href="{{facebook}}"><img src="{% static 'contacts/images/img2/image.png' %}" alt="Telegram"></a>
      <a href="{{ x_or_twiter }}"><img src="{% static 'contacts/images/img3/image.png' %}" alt="Twitter"></a>
    </div>
    <div class="contact-info">
      <p>write: <a href="mailto:{{gmail}}">{{gmail}}</a></p>
      <p>call: <a href="tel:{{phone_number}}">{{phone_look}}</a></p>
    </div>
</footer>

{% endblock %}  