{% extends 'base.html' %}
{% block link  %} {% load static %}<link rel="stylesheet" href="{% static 'user/style.css'%}"> {% endblock %}
{% block user %}
    <a href="{% url 'reg' %}">Registration </a>
{% endblock %}
{% block content %}
    
    <form>
        <h1>Authorization</h1>
        <input type="text" placeholder="username" name="username"/>
        <input type="password" placeholder="Password" name="password" />
        <button type="submit">Confirm</button>
    </form>
    <p>{{ error }}</p>
{% endblock %}