{% extends 'base.html' %}
{% load static %}
{% block link  %}
 <link rel="stylesheet" href="{% static 'user/style1.css'%}"> 
{% endblock %}/
{% block user %}
<a href="{% url 'auth' %}">authorization </a>
{% endblock %}
{% block content %}
    <form method="post">
        <h1>Registration</h1>
        <div class="input-group">
            <input type="text" placeholder="Name" />
            <input type="text" placeholder="Surname" />
        </div>
        <div class="input-group">
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="Password" />
        </div>
        <button type="submit">Continue</button>
    </form>
{% endblock %}