{% extends 'base.html' %}
{% load static %}
{% block link%}
<link rel="stylesheet" href="{% static 'QR-cods/create_QR_cods.css' %}">
<script src="{% static 'QR-cods/create.js' %}" defer></script>
{% endblock %}
{% block content %}

<h1>Create QR-codes</h1>
<form method="post" enctype="multipart/form-data">


    {% csrf_token %}
    <main>
            <div class="buttons">
                <input type="text" placeholder="url" required name="url">
                <input type="text" placeholder="name" required name="name">
                <select  class="custom-select" name="type">
                    <option value="color">color</option>
                    <option value="gradient">gradient</option>
                </select>
                <span class="colors">color:<input type="color" placeholder="color" name="color" class="color"><input type="color" placeholder="color" name="color_2" class="color hidden" id="two"></span>
                <span>background color:<input type="color" placeholder="background color" name="background_color" class="color back" value="#FFFFFF"></span>

                <span>logo:<input type="file" name="logo" class="logo" accept="image/*"></span>
            </div>
            <div class="box-img">
                <div class="position">
                    {% if name %}
                        {% if url %}
                            <img src="{{ MEDIA_URL }}images/qr_code/{{name}}" alt="" class="img">
                        {% else %}
                            <img src="data:image/png;base64,{{ name }}" alt="" class="img">
                        {% endif %}
                    {% else %}
                        <img src="{% static 'images/qr_code.png' %}" alt="" class="img" >
                    {% endif %}
                    <div class="box-for-buttons">
                        <button class="download" name="button" value="check">check</button>
                        <button class="create" name="button" value="create">create</button>
                    </div>
                    <p>{{error}}</p>
                </div>
            </div>
        </main>
    </form>
{% endblock %}