{% extends 'base.html' %}
{% load static %}
{% block link%}
<link rel="stylesheet" href="{% static 'QR-cods/create_QR_cods.css' %}">
{% endblock %}
{% block content %}
<h1>Create QR-cods</h1>
    <main>
        <div class="buttons">
            <button>What is the Qr-code for?</button>
            <button>What color you want?</button>
            <button>Choose desigh?</button>
            <button>Set icon?</button>
        </div>
        <div class="box-img">
            <div class="position">
                <img src="{% static 'images/qr_code.png' %}" alt="" class="img">
                <div class="box-for-buttons">
                    <button class="create">create</button>
                    <button class="download">download</button>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
