{% extends 'base.html' %}
{% load static %}
{% block link%}
<link rel="stylesheet" href="{% static 'QR-cods/my_QR_cods.css' %}">
{% endblock %}
{% block content %}

<body>
    <main>
        <h1>my QR-codes</h1>
        <section class="qr-codes">
            <div class="qr-card">
                <img src="{% static 'images/qr_code.png' %}" alt="QR code" class="my-QR-code">
                <p class="text-for-QR-code">QR-code for web-site</p>
            </div>
            <div class="qr-card">
                <img src="{% static 'images/qr_code.png' %}" alt="QR code" class="my-QR-code">
                <p class="text-for-QR-code">QR-code for web-site</p>
            </div>
            <div class="qr-card">
                <img src="{% static 'images/qr_code.png' %}" alt="QR code" class="my-QR-code">
                <p class="text-for-QR-code">QR-code for web-site</p>
            </div>
        </section>
    </main>
    <a href="{% url 'create_qr_cods' %}" class="url-to-create">create QR-code</a>
</body>
{% endblock %}