{% extends 'base.html' %}
{% load static %}
{% block link%}
<link rel="stylesheet" href="{% static 'QR-cods/my_QR_cods.css' %}">
<script src="{% static 'QR-cods/my.js' %}" defer></script>
{% endblock %}
{% block content %}

<main>
    <h1>my QR-codes</h1>
    {% if not pk %}
        <p class="error" style="color: red;">You cannot view your QR codes if you aren't logged in.</p>
        <p class="error">Login: 
            <a href="{% url 'auth' %}" id="ok">here</a>
        </p>
    {% endif  %}
        
        <div class="filter-div">
            <input type="text" placeholder="Enter QR name">
            <button class="filter">Filter</button>
        </div>

        {% if modal %}
        <div class="modal show" id="modal">
            <button class="close" id="close">×</button>
            <img src="{{ MEDIA_URL }}images/qr_code/{{modal.qr_code}}" alt="QR code" class="my-QR-code">
            <h2 class="date">{{modal.date_of_creation}}</h2>
            <!-- <p class="wal"></p> -->
             <form method="post">
                {% csrf_token %}
                <div class="mix">
                    <span>name:<input type="text" name="name" value="{{modal.name}}"></span>
                    <span>description:<textarea name="description" id="">{{modal.description}}</textarea></span>
                    
                </div>
                
                <div class="mix">
                    <button class="delete" name="del" value="{{modal.id}}">Delete</button>
                    <button class="download" name="down" type="button"><a href="{{ MEDIA_URL }}images/qr_code/{{modal.qr_code}}" download="QR code.png" class="download">Download</a></button>
                    <button class="save" name="id" value="{{modal.id}}" >Save</button>
                </div>
             </form>
        </div>
        <div id="modalBg" class="modal-bg show"></div>
        {% endif %}
        <section class="qr-codes">
            {% for qr in qr_codes %}
            
            <div class="qr-card block-{{qr.blocked}} desktop-{{qr.desktop}}" id = "{{qr.name}}">
                <img src="{{ MEDIA_URL }}images/qr_code/{{qr.qr_code}}" alt="QR code" class="my-QR-code">
                <p class="text-for-QR-code">{{qr.name}}</p>
                <p>created: {{qr.date_of_creation}}</p>

                    <form method="post">
                        {% csrf_token %}
                        <button name="id" value="{{qr.id}}" class="details">details</button>
                    </form>
                    </div>
                </div>
            {% endfor %}
            <!-- <div class="qr-card">
                <img src="{% static 'images/qr_code.png' %}" alt="QR code" class="my-QR-code">
                <p class="text-for-QR-code">QR-code for web-site</p>
            </div>
            <div class="qr-card">
                <img src="{% static 'images/qr_code.png' %}" alt="QR code" class="my-QR-code">
                <p class="text-for-QR-code">QR-code for web-site</p>
            </div> -->
        </section>
        <button class="url-to-create">
            <a href="{% url 'create_qr_cods' %}" class="go">create QR-code</a>
        </button>
    </main>
{% endblock %}