{% extends 'base.html' %}


{% block content %}
        <header>
            <nav>
                <a href="#" class="logo">Illya</a>
                <div class="menu">
                    <a href="#">home</a>
                    <a href="#">create QR-code</a>
                    <a href="#">contacts</a>
                    <a href="#" class="logout">logout</a>
                </div>
            </nav>
        </header>
        <main>
        <section class="button">
            <h2>Create QR-cods</h2>
            <button>What is the Qr-code for?</button>
            <button>What color you want?</button>
            <button>Choose design?</button>
            <button>Set icon?</button>
        </section class="right-content">
       <form class="qr-form">
        <img src="images/img.png" alt="QR Code">
        <div class="button-group">
            <button class="btn-create" type="submit">create</button>
            <button class="btn-download" type="button">download</button>
        </div>
       </form>
    </main>
{% endblock %}
