h1{
    font-size: 40;
}
h2{
    font-size: 30;
}
.cont{
    text-align: center;
    padding: 32px;
}
.Rating{
    font-size: 30;
    background-color: rgba(0, 0, 0, 0.25);
}
button{
    background-color: rgba(255,255,255,0.5);
    border: none;
    width: 344px;
    height: 73px;
    font-size: 30;
    color: #99A36E;
}
.star{
    font-size: 30px;
}
button{
    cursor: pointer;
    border-radius: 30px;
}

.button:hover {
    background-color: grey;
}

.button1:hover {
    background-color: lightgray;
}

span{
    cursor: pointer;
}
.contacts{
    background-color:  #21A0DF;
    border: solid #21A0DF 1px;
    border-radius: 100px;
}
textarea{
    background-color: rgba(255,255,255,0.25);
    border: none;
    width: 360px;
    height: 60px;
    border-radius: 15px;
    font-size: 25;
    text-align: center;
}
form{
    display: flex;
    gap: 32px;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #e0ecff;
  }
  
  .footer {
    background: linear-gradient(to right #9AB7FF, #ffffff);
    padding: 20px 10%;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-color: black;
    border-bottom-color: black;
    margin-top: 150px;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
  }
  
  .social-icons a {
    text-decoration: none;
  }
  
  .social-icons img {
    width: 32px;
    height: 32px;
  }
  
  .social-icons img:hover {
    transform: scale(1.2);
  }
  
  .contact-info {
    text-align: right;
    font-size: 30px;
    color: #333;
    margin-left: 700px;
  }
  
  .contact-info p {
    margin: 5px 0;
  }
  
  .contact-info a {
    text-decoration: none;
    color: black;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }
  