{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}doc{% endblock %}</title>
        {% block link %} {% endblock %}
        <link rel="stylesheet" href="{% static 'style/style.css' %}">
    </head>
    <body>
        <!-- <header>
            <img src="" alt="">
            <a href="/">home</a>
            {% block user %}
            <a href="{% url 'auth' %}">login</a>
            {% endblock %}
            
            <a href="">my QR-cods</a>
            <a href="{% url 'contacts' %}">contacts</a>
            <a href="{% url 'qr_cods' %}">create QR-cod</a>
        </header> -->
        {% if name  %}
                    <li class="logo">{{ name }}</li>
                
                {% else %}
                    <a href="{% url 'reg' %}" class="login">login</a>
                {% endif %}
        <header>
            <nav>
                
                <div class="menu">
                    <a href="/">home</a>
                    <a href="{% url 'qr_cods' %}">create QR-code</a>
                    <a href="{% url 'contacts' %}">contacts</a>
                    <a href="" class="logout">logout</a>
                </div>
            </nav>
        </header>
        {% block content %}
         

        {% endblock %}
    </body>
</html>