{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}QR-codes{% endblock %}</title>
        {% block link %} {% endblock %}
        <link rel="stylesheet" href="{% static 'style/style.css' %}?v=1">
        <link rel="shortcut icon" href="{% static 'images/icon.png' %}">
    </head>
    <body>
        <header>
            <div class="name">
                {% block user %}
                {% if request.user.username%}<img src="{% static 'images/icon.png' %}" alt="" class="icon">
                        <p class="logo">{{ request.user.username }}</p>
                        <a href="{% url 'logout' %}" class="logout">logout</a>
                    {% else %}
                        <a href="{% url 'reg' %}" class="login">login</a>
                    {% endif %}
                {% endblock %}
            </div>
            <nav>
                <div class="home"><a href="/">home</a></div>
                <div class="create-QR-cods"><a href="{% url 'create_qr_cods' %}">create QR-codes</a></div>
                <div class="my-QR-cods"><a href="{% url 'my_qr_cods' %}">my QR-codes</a></div>
                <div class="contacts"><a href="{% url 'contacts' %}">contacts</a></div>
                {% if request.user.username %}
                {% endif %}
            </nav>
        </header>
        {% block content %}
         

        {% endblock %}
    </body>
</html>