

body {
    font-family: sans-serif;
    background-color: lightblue;
}

.plans {
    display: flex;
    justify-content: space-around;
}

.plan {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
}
